<header>
  <div class="p grid">
    <div class="p col-3">
      <div class="logo">
        <img
          src="../../../assets/werner-heisenberg-heisenberg-1680765.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="p col-4 search">
      <product-search></product-search>
    </div>
    <div class="p col-1"></div>
    <div class="p col-3 navigation">
      <heisenburg></heisenburg>
    </div>
    <div class="p col-1 tools">
      <i class="pi pi-user"></i>
      <i class="pi pi-shopping-cart"></i>
    </div>
  </div>
</header>
