<div class="admin-sidebar">
  <div class="logo">
    <img
      class="logo-icon"
      src="../../../assets/werner-heisenberg-heisenberg-1680765.jpg"
      alt=""
    />
  </div>
  <div class="admin-caption">
    <h4>I Am The One Who Knocks</h4>
  </div>
  <div class="links">
    <ul>
      <li>
        <a routerLink="/dashboard/" ><i class="pi pi-home"></i>Dashboard</a>
      </li>
      <li>
        <a routerLink="/products/"><i class="pi pi-briefcase"></i>Products</a>
      </li>
      <li>
        <a routerLink="/categories/"><i class="pi pi-list"></i>Categories</a>
      </li>
      <li>
        <a routerLink="/orders/"><i class="pi pi-shopping-cart"></i>Orders</a>
      </li>
      <li>
        <a routerLink="/users/"><i class="pi pi-users"></i>Users</a>
      </li>
      <li>
        <a class="logout" ><i class="pi pi-sign-out"></i>Logout</a>
      </li>
    </ul>
  </div>
</div>
