<div class="admin-sidebar">
  <div class="logo">
    <img class="logo-icon" src="../../../assets/werner-heisenberg-heisenberg-1680765.jpg" alt="" />
  </div>
  <div class="links">
    <ul>
        <li>
            <a href=""><i class="pi pi-home"></i>Dashboard</a>
        </li>
        <li>
            <a href=""><i class="pi pi-briefcase"></i>Products</a>
        </li>
        <li>
            <a href=""><i class="pi pi-list"></i>Categories</a>
        </li>
        <li>
            <a href=""><i class="pi pi-shopping-cart"></i>Orders</a>
        </li>
        <li>
            <a href=""><i class="pi pi-users"></i>Users</a>
        </li>
        <li>
            <a href=""><i class="pi pi-sign-out"></i>Logout</a>
        </li>
    </ul>
  </div>
</div>
